  .cy-title {
    text-align: left;
    font-size: 1em;
    width: 130px;
    color: #2b2b2b;
    background: #f2f2f2;
    text-transform: capitalize;
  }
  
  .cy-title__label {
    font-size: 1em;
    color: '#333';
  }
  
  .cy-title__state {
    font-size: 0.9em;
  }
  
  .cy-title__name {
    font-size: 1.5em;
  }
  
  .cy-title__info {
    font-size: 0.9em;
  }
